<!-- Copyright (c) 2014 Juniper Networks, Inc. All rights reserved. -->
<script type = "text/x-handlebars-template" id = "disk-status-template">
    {{#IfCompare sevLevel sevLevels.ERROR }}
        <span class="status-badge-rounded-small status-inactive"></span>
    {{else}}
        {{#IfCompare sevLevel sevLevels.WARNING}}
            <span class="status-badge-rounded-small status-partially-active"></span>
        {{else}}
            {{#IfCompare sevLevel sevLevels.NOTICE}}
                <span class="status-badge-rounded-small status-idle"></span>
            {{else}}
                <span class="status-badge-rounded-small status-active"></span>
            {{/IfCompare}}
        {{/IfCompare}}
    {{/IfCompare}}
</script>

<script type="text/x-handlebars-template" id="disk-activity-stats-template">
    <div id="{{chartId}}" class="traffic-stats-chart row-fluid"></div>
</script>

<script type="text/x-handlebars-template" id="basic-stats-widget-template">
    <div id="cluster-stats-box" class="widget-box transparent">
        <div class="widget-header">
            <h4 class="smaller">{{title}}</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main padding-4">
                <div id="{{chart1Id}}" class="stats-chart row-fluid"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="cluster-usage-widget-template">
    <div id="cluster-usage-box" class="widget-box transparent">
        <div class="widget-header">
            <h4 class="smaller">{{title}}</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main padding-4">
                <div class="row-fluid">
                    <div id="{{replicaFactorLabelId}}" style="text-align:center">
                        <span>{{replicaFactorTitle}}</span>
                        <span id="{{replicaFactorId}}"></span>
                    </div>
                    <div id="{{usageChartId}}" class="stats-chart"></div>
                </div>
                <div id="{{poolsChartId}}" class="stats-chart row-fluid"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="storage-status-template">
    {{#IfCompare sevLevel sevLevels.ERROR }}
        <span class="status-badge-rounded-small status-inactive"></span>
    {{else}}
        {{#IfCompare sevLevel sevLevels.WARNING}}
            <span class="status-badge-rounded-small status-partially-active"></span>
        {{else}}
            {{#IfCompare sevLevel sevLevels.NOTICE}}
                <span class="status-badge-rounded-small status-idle"></span>
            {{else}}
                <span class="status-badge-rounded-small status-active"></span>
            {{/IfCompare}}
        {{/IfCompare}}
    {{/IfCompare}}
</script>
