<!-- Copyright (c) 2014 Juniper Networks, Inc. All rights reserved. -->
<script type = "text/x-handlebars-template" id = "disk-status-template">
    {{#IfCompare sevLevel sevLevels.ERROR }}
        <span class="status-badge-rounded-small status-inactive"></span>
    {{else}}
        {{#IfCompare sevLevel sevLevels.WARNING}}
            <span class="status-badge-rounded-small status-partially-active"></span>
        {{else}}
            {{#IfCompare sevLevel sevLevels.NOTICE}}
                <span class="status-badge-rounded-small status-idle"></span>
            {{else}}
                <span class="status-badge-rounded-small status-active"></span>
            {{/IfCompare}}
        {{/IfCompare}}
    {{/IfCompare}}
</script>